body{
    /*font family is the font, size is size of font, line-height is vertical spacing, padding is margins */
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    line-height:1.5;
    padding:0;
    color: #F2F2F2;
    background-color:#383838;
}

hr{
    width: 50%;
    margin:auto;
}

header{
    margin-bottom: 20px;
}

header p{
    font-size: 20px;
}

.flex-container-center{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight{
    color: #5BF0DE;
}

.description-item{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}

.contact-info-item{
    display: flex;
    align-items:center;
}

#title{
    font-size:60px;
    text-align: center;
}

#description{
    flex-direction: column;
}

#contact-info{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
}

#contact-info img{
    width: 40px;
    margin-left: 10px;
    margin-right:10px;
}

#contact-info a{
    display: flex;
    text-decoration:none;
    text-transform: uppercase;
    color: #F2F2F2;
}